body {
    background-color: #121212;
    background-image: url('https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/eventlogos/sizea/29519561706959736.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
header {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
main {
    padding: 20px;
}
footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
}
