body {
    background-color: #121212;
    background-image: url('https://w0.peakpx.com/wallpaper/218/861/HD-wallpaper-s20-ultra-android-circuit-board-galaxy-motherboard-s20-ultra-tech-thumbnail.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
header {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
main {
    padding: 20px;
}
footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
}
